<div ng-controller="ContractsController as c" layout="row" layout-fill>
  <div layout="column" flex="15" class="contracts-meta">
    <div class="header" layout-padding>
      <span flex>Contrat <b>{{c.contractNumber}}</b>  </span>
    </div>
    <div class="content" layout-padding>
    </div>
  </div>

  <div layout="column" flex class="contracts-content">
    <div  layout="row" layout-padding>
      <span>Voici le contrat n° {{c.contractNumber}}</span>
      <span flex></span>
      <md-button ng-click="c.getContractInfo()">Récupérer les infos du contrat</md-button>
    </div>
    <div ng-if="c.contractInfo">
      {{c.contractInfo}}
    </div>
  </div>
</div>
